// List of icons with their unicodes
//
// Escape backslash not included to void sass parsing
$ei-icons-list: (
  arrow_up:                  '21',
  arrow_down:                '22',
  arrow_left:                '23',
  arrow_right:               '24',
  arrow_left-up:             '25',
  arrow_right-up:            '26',
  arrow_right-down:          '27',
  arrow_left-down:           '28',
  arrow-up-down:             '29',
  arrow_up-down_alt:         '2a',
  arrow_left-right_alt:      '2b',
  arrow_left-right:          '2c',
  arrow_expand_alt2:         '2d',
  arrow_expand_alt:          '2e',
  arrow_condense:            '2f',
  arrow_expand:              '30',
  arrow_move:                '31',
  arrow_carrot-up:           '32',
  arrow_carrot-down:         '33',
  arrow_carrot-left:         '34',
  arrow_carrot-right:        '35',
  arrow_carrot-2up:          '36',
  arrow_carrot-2down:        '37',
  arrow_carrot-2left:        '38',
  arrow_carrot-2right:       '39',
  arrow_carrot-up_alt2:      '3a',
  arrow_carrot-down_alt2:    '3b',
  arrow_carrot-left_alt2:    '3c',
  arrow_carrot-right_alt2:   '3d',
  arrow_carrot-2up_alt2:     '3e',
  arrow_carrot-2down_alt2:   '3f',
  arrow_carrot-2left_alt2:   '40',
  arrow_carrot-2right_alt2:  '41',
  arrow_triangle-up:         '42',
  arrow_triangle-down:       '43',
  arrow_triangle-left:       '44',
  arrow_triangle-right:      '45',
  arrow_triangle-up_alt2:    '46',
  arrow_triangle-down_alt2:  '47',
  arrow_triangle-left_alt2:  '48',
  arrow_triangle-right_alt2: '49',
  arrow_back:                '4a',
  minus-06:                  '4b',
  plus:                      '4c',
  close:                     '4d',
  check:                     '4e',
  minus_alt2:                '4f',
  plus_alt2:                 '50',
  close_alt2:                '51',
  check_alt2:                '52',
  zoom-out_alt:              '53',
  zoom-in_alt:               '54',
  search:                    '55',
  box-empty:                 '56',
  box-selected:              '57',
  minus-box:                 '58',
  plus-box:                  '59',
  box-checked:               '5a',
  circle-empty:              '5b',
  circle-slelected:          '5c',
  stop_alt2:                 '5d',
  stop:                      '5e',
  pause_alt2:                '5f',
  pause:                     '60',
  menu:                      '61',
  menu-square_alt2:          '62',
  menu-circle_alt2:          '63',
  ul:                        '64',
  ol:                        '65',
  adjust-horiz:              '66',
  adjust-vert:               '67',
  document_alt:              '68',
  documents_alt:             '69',
  pencil:                    '6a',
  pencil-edit_alt:           '6b',
  pencil-edit:               '6c',
  folder-alt:                '6d',
  folder-open_alt:           '6e',
  folder-add_alt:            '6f',
  info_alt:                  '70',
  error-oct_alt:             '71',
  error-circle_alt:          '72',
  error-triangle_alt:        '73',
  question_alt2:             '74',
  question:                  '75',
  comment_alt:               '76',
  chat_alt:                  '77',
  vol-mute_alt:              '78',
  volume-low_alt:            '79',
  volume-high_alt:           '7a',
  quotations:                '7b',
  quotations_alt2:           '7c',
  clock_alt:                 '7d',
  lock_alt:                  '7e',
  lock-open_alt:             'e000',
  key_alt:                   'e001',
  cloud_alt:                 'e002',
  cloud-upload_alt:          'e003',
  cloud-download_alt:        'e004',
  image:                     'e005',
  images:                    'e006',
  lightbulb_alt:             'e007',
  gift_alt:                  'e008',
  house_alt:                 'e009',
  genius:                    'e00a',
  mobile:                    'e00b',
  tablet:                    'e00c',
  laptop:                    'e00d',
  desktop:                   'e00e',
  camera_alt:                'e00f',
  mail_alt:                  'e010',
  cone_alt:                  'e011',
  ribbon_alt:                'e012',
  bag_alt:                   'e013',
  creditcard:                'e014',
  cart_alt:                  'e015',
  paperclip:                 'e016',
  tag_alt:                   'e017',
  tags_alt:                  'e018',
  trash_alt:                 'e019',
  cursor_alt:                'e01a',
  mic_alt:                   'e01b',
  compass_alt:               'e01c',
  pin_alt:                   'e01d',
  pushpin_alt:               'e01e',
  map_alt:                   'e01f',
  drawer_alt:                'e020',
  toolbox_alt:               'e021',
  book_alt:                  'e022',
  calendar:                  'e023',
  film:                      'e024',
  table:                     'e025',
  contacts_alt:              'e026',
  headphones:                'e027',
  lifesaver:                 'e028',
  piechart:                  'e029',
  refresh:                   'e02a',
  link_alt:                  'e02b',
  link:                      'e02c',
  loading:                   'e02d',
  blocked:                   'e02e',
  archive_alt:               'e02f',
  heart_alt:                 'e030',
  star_alt:                  'e031',
  star-half_alt:             'e032',
  star:                      'e033',
  star-half:                 'e034',
  tools:                     'e035',
  tool:                      'e036',
  cog:                       'e037',
  cogs:                      'e038',
  arrow_up_alt:              'e039',
  arrow_down_alt:            'e03a',
  arrow_left_alt:            'e03b',
  arrow_right_alt:           'e03c',
  arrow_left-up_alt:         'e03d',
  arrow_right-up_alt:        'e03e',
  arrow_right-down_alt:      'e03f',
  arrow_left-down_alt:       'e040',
  arrow_condense_alt:        'e041',
  arrow_expand_alt3:         'e042',
  arrow_carrot_up_alt:       'e043',
  arrow_carrot-down_alt:     'e044',
  arrow_carrot-left_alt:     'e045',
  arrow_carrot-right_alt:    'e046',
  arrow_carrot-2up_alt:      'e047',
  arrow_carrot-2dwnn_alt:    'e048',
  arrow_carrot-2left_alt:    'e049',
  arrow_carrot-2right_alt:   'e04a',
  arrow_triangle-up_alt:     'e04b',
  arrow_triangle-down_alt:   'e04c',
  arrow_triangle-left_alt:   'e04d',
  arrow_triangle-right_alt:  'e04e',
  minus_alt:                 'e04f',
  plus_alt:                  'e050',
  close_alt:                 'e051',
  check_alt:                 'e052',
  zoom-out:                  'e053',
  zoom-in:                   'e054',
  stop_alt:                  'e055',
  menu-square_alt:           'e056',
  menu-circle_alt:           'e057',
  document:                  'e058',
  documents:                 'e059',
  pencil_alt:                'e05a',
  folder:                    'e05b',
  folder-open:               'e05c',
  folder-add:                'e05d',
  folder_upload:             'e05e',
  folder_download:           'e05f',
  info:                      'e060',
  error-circle:              'e061',
  error-oct:                 'e062',
  error-triangle:            'e063',
  question_alt:              'e064',
  comment:                   'e065',
  chat:                      'e066',
  vol-mute:                  'e067',
  volume-low:                'e068',
  volume-high:               'e069',
  quotations_alt:            'e06a',
  clock:                     'e06b',
  lock:                      'e06c',
  lock-open:                 'e06d',
  key:                       'e06e',
  cloud:                     'e06f',
  cloud-upload:              'e070',
  cloud-download:            'e071',
  lightbulb:                 'e072',
  gift:                      'e073',
  house:                     'e074',
  camera:                    'e075',
  mail:                      'e076',
  cone:                      'e077',
  ribbon:                    'e078',
  bag:                       'e079',
  cart:                      'e07a',
  tag:                       'e07b',
  tags:                      'e07c',
  trash:                     'e07d',
  cursor:                    'e07e',
  mic:                       'e07f',
  compass:                   'e080',
  pin:                       'e081',
  pushpin:                   'e082',
  map:                       'e083',
  drawer:                    'e084',
  toolbox:                   'e085',
  book:                      'e086',
  contacts:                  'e087',
  archive:                   'e088',
  heart:                     'e089',
  profile:                   'e08a',
  group:                     'e08b',
  grid-2x2:                  'e08c',
  grid-3x3:                  'e08d',
  music:                     'e08e',
  pause_alt:                 'e08f',
  phone:                     'e090',
  upload:                    'e091',
  download:                  'e092',
  social_facebook:           'e093',
  social_twitter:            'e094',
  social_pinterest:          'e095',
  social_googleplus:         'e096',
  social_tumblr:             'e097',
  social_tumbleupon:         'e098',
  social_wordpress:          'e099',
  social_instagram:          'e09a',
  social_dribbble:           'e09b',
  social_vimeo:              'e09c',
  social_linkedin:           'e09d',
  social_rss:                'e09e',
  social_deviantart:         'e09f',
  social_share:              'e0a0',
  social_myspace:            'e0a1',
  social_skype:              'e0a2',
  social_youtube:            'e0a3',
  social_picassa:            'e0a4',
  social_googledrive:        'e0a5',
  social_flickr:             'e0a6',
  social_blogger:            'e0a7',
  social_spotify:            'e0a8',
  social_delicious:          'e0a9',
  social_facebook_circle:    'e0aa',
  social_twitter_circle:     'e0ab',
  social_pinterest_circle:   'e0ac',
  social_googleplus_circle:  'e0ad',
  social_tumblr_circle:      'e0ae',
  social_stumbleupon_circle: 'e0af',
  social_wordpress_circle:   'e0b0',
  social_instagram_circle:   'e0b1',
  social_dribbble_circle:    'e0b2',
  social_vimeo_circle:       'e0b3',
  social_linkedin_circle:    'e0b4',
  social_rss_circle:         'e0b5',
  social_deviantart_circle:  'e0b6',
  social_share_circle:       'e0b7',
  social_myspace_circle:     'e0b8',
  social_skype_circle:       'e0b9',
  social_youtube_circle:     'e0ba',
  social_picassa_circle:     'e0bb',
  social_googledrive_alt2:   'e0bc',
  social_flickr_circle:      'e0bd',
  social_blogger_circle:     'e0be',
  social_spotify_circle:     'e0bf',
  social_delicious_circle:   'e0c0',
  social_facebook_square:    'e0c1',
  social_twitter_square:     'e0c2',
  social_pinterest_square:   'e0c3',
  social_googleplus_square:  'e0c4',
  social_tumblr_square:      'e0c5',
  social_stumbleupon_square: 'e0c6',
  social_wordpress_square:   'e0c7',
  social_instagram_square:   'e0c8',
  social_dribbble_square:    'e0c9',
  social_vimeo_square:       'e0ca',
  social_linkedin_square:    'e0cb',
  social_rss_square:         'e0cc',
  social_deviantart_square:  'e0cd',
  social_share_square:       'e0ce',
  social_myspace_square:     'e0cf',
  social_skype_square:       'e0d0',
  social_youtube_square:     'e0d1',
  social_picassa_square:     'e0d2',
  social_googledrive_square: 'e0d3',
  social_flickr_square:      'e0d4',
  social_blogger_square:     'e0d5',
  social_spotify_square:     'e0d6',
  social_delicious_square:   'e0d7',
  printer:                   'e103',
  calulator:                 'e0ee',
  building:                  'e0ef',
  floppy:                    'e0e8',
  drive:                     'e0ea',
  search-2:                  'e101',
  id:                        'e107',
  id-2:                      'e108',
  puzzle:                    'e102',
  like:                      'e106',
  dislike:                   'e0eb',
  mug:                       'e105',
  currency:                  'e0ed',
  wallet:                    'e100',
  pens:                      'e104',
  easel:                     'e0e9',
  flowchart:                 'e109',
  datareport:                'e0ec',
  briefcase:                 'e0fe',
  shield:                    'e0f6',
  percent:                   'e0fb',
  globe:                     'e0e2',
  globe-2:                   'e0e3',
  target:                    'e0f5',
  hourglass:                 'e0e1',
  balance:                   'e0ff',
  rook:                      'e0f8',
  printer-alt:               'e0fa',
  calculator_alt:            'e0e7',
  building_alt:              'e0fd',
  floppy_alt:                'e0e4',
  drive_alt:                 'e0e5',
  search_alt:                'e0f7',
  id_alt:                    'e0e0',
  id-2_alt:                  'e0fc',
  puzzle_alt:                'e0f9',
  like_alt:                  'e0dd',
  dislike_alt:               'e0f1',
  mug_alt:                   'e0dc',
  currency_alt:              'e0f3',
  wallet_alt:                'e0d8',
  pens_alt:                  'e0db',
  easel_alt:                 'e0f0',
  flowchart_alt:             'e0df',
  datareport_alt:            'e0f2',
  briefcase_alt:             'e0f4',
  shield_alt:                'e0d9',
  percent_alt:               'e0da',
  globe_alt:                 'e0de',
  clipboard:                 'e0e6'
);
