@font-face {
	font-family: 'ElegantIcons';
	src:url('@{ei-font-path}/ElegantIcons.eot?d918s8');
	src:url('@{ei-font-path}/ElegantIcons.eot?#iefixd918s8') format('embedded-opentype'),
	url('@{ei-font-path}/ElegantIcons.woff2?d918s8') format('woff2'),
	url('@{ei-font-path}/ElegantIcons.woff?d918s8') format('woff'),
	url('@{ei-font-path}/ElegantIcons.ttf?d918s8') format('truetype'),
	url('@{ei-font-path}/ElegantIcons.svg?d918s8##icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}